@import "./reset.scss";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/******************* Mobile *******************/
body {
    font-family: $--main-font;
    color: $--main-color;
    opacity: 0;
}
a {
    text-decoration: none;
    color: $--main-color;
}

/* Intro */
#intro {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #161616;
    transition: 1s;
}
.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
#intro .logo {
    position: relative;
    opacity: 1;
    font-size: $--title-font-size;
}
.logo.fadeout {
    opacity: 0;
    transition: ease-in-out 0.6s;
}
.logo:nth-child(1) {
    font-weight: 100;
}
.logo:nth-child(2) {
    font-weight: 400;
}

/* Bg */
.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, $--bg-color1 0%, $--bg-color2 25%, $--bg-color4 51%, $--bg-color1 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Header */
#header {
    position: fixed;
    top: 0;
    height: $--header-height;
    left: $--margin;
    right: $--margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid $--main-color;
    z-index: 9;
}
#header .header__menu > button {
    background: none;
    border: none;
    color: $--main-color;
    text-transform: uppercase;
}
#header .siteHeader-nav {
    display: none;
}

/* Site menu */
.siteMenu {
    position: fixed;
    z-index: 9;
    left: 0;
    top: $--header-height;
    width: 100%;
    padding: 25px $--margin;
    box-sizing: border-box;
    transition: 0.2s ease-in; 
}
.siteMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
    font-size: 24px;
    text-transform: capitalize;
}

/* Main */
#main {
    position: fixed;
    z-index: 2;
    left: 0;
    top: $--header-height;
    width: 100%;
    height: calc(100% - $--header-height);
    overflow: hidden;
}
.page {
    transition: 0.2s ease-in;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.mainContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc($--vh*100 - $--header-height*2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainContent .contact {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.25em;
    margin-top: 50px;
} 
.contact li {
    height: 1.25em;
}
.contact li > a {
    display: block;
    height: 100%;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
}

/* About */
.page_inner {
    padding: 50px 0 0;
}
.about {
    padding: 0 $--margin;
    box-sizing: border-box;
}
.about_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $--main-color;
}
.about_main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: calc($--column*1 + $--gutter*2);
}
.about_content {
    padding-top: 10px;
}
.about_profileImage {
    flex: 0 0 calc($--column*4 + $--gutter*3);
}
.about_profileImage img {
    width: 100%;
    height: auto;
}
.about_profileText {
    margin-top: 25px;
}
.about_links {
    display: flex;
    align-items: center;
    gap: 0 1.25em;
    margin-top: 25px;
} 
.about_links li {
    height: 1.25em;
}
.about_links li > a {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
}

/* Projects */
.project_header {
    width: calc(100% - $--margin*2);
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid $--main-color;
}
.project_title {
    margin-left: -0.04em;
    font-weight: $--regular-font-weight;
    font-size: $--heading;
    text-transform: capitalize;
}
.project_content {
    width: calc(100% - $--margin*2);
    margin: 0 auto;
    padding-top: 10px;
}
.project_visual {
    flex: 0 0 calc($--column*4 + $--gutter*3);
}
.project_visual img {
    width: 100%;
    height: auto;
}
.project_visual .content__slate {
    z-index: 999;
    transform: none;
    opacity: 1;
}
.content__slate p {
    font-size: calc($--font-sm + 0.9px);
    color: rgb(213,213,213);
    padding: 8px 0;
}
.text-post.sub p span {
    background: rgb(105, 104, 105);
    padding: 4px 10px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 11px;
    margin-right: 6px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.sub {
    position: relative;
}
.project_description {
    margin-top: 25px;
}
.text-post {
    line-height: 2;
    white-space: pre-line;
}
.project_link {
    margin-top: 25px;
    white-space: nowrap;    
}

/* Footer */
#footer {
    margin-top: 200px;
    padding: $--margin;
}
.footer_inner  {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    height: 350px;
    padding-top: $--margin;
    border-top: 1px solid $--main-color;
}
.footer_right {
    width: 48px; 
    height: 60px;
}
.footer_pages {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
}
.footer_contact {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.25em;
    margin-top: 50px;
}
.footer_mark {
    position: absolute;
    bottom: 0;
    left: 0;
}

/******************* Tablet *******************/
@media screen and (min-width: 768px) {
    .header__menu {
        display: none;
    }
    #header .siteHeader-nav {
        display: flex;
        height: 100%;
    }
    #header .siteHeader-nav > ul {
        display: flex;
        column-gap: 1em;
    }
    .siteHeader_page a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        transition-property: opacity;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
    }
    .project_main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        column-gap: calc($--column*1 + $--gutter*2);
    }
    .project_description {
        margin-top: -0.5em;
    }
    .project_description p {
        max-width: 40em;
    }
    .footer_inner {
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
    }
    .footer_pages {
        flex-direction: row;
        justify-content: flex-end;
        gap: 0 1em;
    }
    .footer_mark {
        right: 0;
    }
}
/******************* Desktop *******************/
@media screen and (min-width: 960px) {
    .project_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: $--gutter;
    }
    .project_link {
        margin-top: 0px;
        white-space: nowrap;
    }
}