extends base
block contents
    .page_inner
        .about 
            .about_wrap 
                .about_profile 
                    .about_header 
                        h2 정해인
                        .role 풀스택 웹 개발자
                    .about_content 
                        .about_main 
                            .about_profileImage 
                                img(src="/static/images/hijung-profile.jpg", alt="profile image")
                            .about_body
                                .about_profileText 
                                    p 
                                        strong 안녕하세요! 
                                        | 풀스택 웹 개발자로 성장하고 있는 
                                        strong 정해인 
                                        | 입니다. 
                                    ul.basicProfile__container  
                                        li.basicProfile__item
                                            p 생년월일
                                            p 1997.12.28
                                        li.basicProfile__item
                                            p 연락처
                                            p 010-7916-4222
                                        li.basicProfile__item
                                            p 주소
                                            p 서울시 강서구
                                        li.basicProfile__item
                                            p 이메일
                                            p hijungjob@gmail.com
        include ../partials/footer

