extends base
block contents
    .page_inner
        .about 
            .about_wrap 
                .about_profile 
                    .about_header 
                        h2 정해인
                        .role 프론트엔드 웹 개발자
                    .about_content 
                        .about_main 
                            .about_profileImage 
                                img(src="/static/images/hijung-profile.jpg", alt="profile image")
                                ul.basicProfile__container  
                                    li.basicProfile__item
                                        p 생년월일
                                        p 1997.12.28
                                    li.basicProfile__item
                                        p 연락처
                                        p 010-7916-4222
                                    li.basicProfile__item
                                        p 주소
                                        p 서울시 강서구
                                    li.basicProfile__item
                                        p 이메일
                                        p hijungjob@gmail.com
                            .about_body
                                .about_profileText 
                                    .aboutMe__container
                                        .aboutMe__intro.aboutMe__item
                                            p 안녕하세요! 프론트엔드 웹 개발자 정해인 입니다.
                                            p 사람들의 삶을 더 나아지게 해주는 웹 서비스를 만드는것에 열정이 있습니다.
                                            p 웹 서버의 전체적인 작동방식에 대해 깊이 이해하는 웹 개발자가 되기위해 노력합니다.
                                            p 프론트엔드에만 국한되지 않고, 지속적으로 한계를 확장시키는 것이 목표입니다.
                                        .aboutMe__skills.aboutMe__item
                                            h2.aboutMe__item-title skills
                                            .skills__container 
                                                .skills__fe.skills__item
                                                    p.skillsType FE
                                                    ul.skills__icons
                                                        li
                                                            i.fab.fa-html5
                                                        li
                                                            i.fab.fa-css3-alt 
                                                        li
                                                            i.fab.fa-js-square
                                                        li
                                                            i.fab.fa-react
                                                .skills__be.skills__item
                                                    p.skillsType BE & DB
                                                    ul.skills__icons
                                                        li
                                                            i.fab.fa-node
                                                        li  
                                                            span Express.js
                                                        li 
                                                            span MongoDB
                                        .aboutMe__strength.aboutMe__item 
                                            h2.aboutMe__item-title strength
                                            ul.strength__list 
                                                li 반드시 일을 마무리합니다.
                                                li 새로운 것 을 받아들이는데 거부감이 없습니다.
                                                li 습득력이 빠릅니다.  
                                .about_history
                                    .education__container 
                                        .education.history__item 
                                            h2.history__item_title education 
                                            ul 
                                                li 
                                                    p.duration 2020.04 - 2020.11
                                                    p.organize 더조은 아카데미
                                                    p.desc 국비훈련으로 프론트엔드 엔지니어링 및 퍼블리셔 과정을 이수했습니다.
                                                        | 웹 개발의 기초에 대해 배우고 html, css, javascript를 활용한 프로젝트들을 제작했습니다.

                                    .resume__container
                                        .resume.history__item 
                                            h2.history__item_title resume
                                            ul 
                                                li 
                                                    p.duration 2022.01 - 2024.2
                                                    p.organize 피엘지 정보기술(주)
                                                    p.desc XVL 이라는 3Dcad 데이터를 사용하는 일본 회사의 라이브러리를 사용하여 웹 서버를 구축하였습니다.
                                                        | windows server os 에서 백엔드(oracledb, apache tomcat, java)로 서버를 구축하고 
                                                        | 프론트는 iis를 사용하여 웹 브라우저에서 3Dcad 데이터 렌더링하는 웹 어플리케이션을 구축하였습니다.
                                                        | 개발 인력이 여의치 않아 혼자서 진행하였고, 해당 기술들에 대한 배경지식이 없어 관련 문서들에 의존하며 
                                                        | 프로젝트를 진행하였습니다. 작업을 진행하며 서버를 구축하는 도중 수 많은 문제를 겪고 처음부터 다시 시작하는 
                                                        | 과정을 매우 많이 반복하게 되었는데, 특히 DB시스템과 apache tomcat 연동을 위해 구성파일을 세팅하는 문제에서  많은 
                                                        | 수정사항이 있었으며 계속해서 로그파일을 확인하며 수정하여 웹 서버를 성공적으로 구축했습니다. 
                                                li 
                                                    p.duration 2021.02 - 2021-12
                                                    p.organize (주)데이터플로
                                                    p.desc 웹 개발팀에 소속되어 다이어트 식품 이커머스 플랫폼이었던 다이어트팜(현재 가격의 신) 
                                                        | 웹 어플리케이션을 프로젝트 초기부터 참여하여 배포 및 런칭하였으며 퍼블리싱과 프론트엔드 개발을 담당했습니다.
                                                        | node.js, ejs 기반의 프로젝트였지만 성능 향상을 목적으로 vue.js로 리팩토링 했습니다.
                                                        | 
                                                        | vue.js 를 도입 후 재사용 가능한 컴포넌트를 사용하여 버튼, 
                                                        | 모달창 등을 컴포넌트화 할 수 있게 됨으로써 더 적은 코드를 사용할 수 있었으며 개발 생산성이 향상하게 되었고 
                                                        | SPA 어플리케이션으로써 새로 고침이 없고 html의 필요한 영역만 리렌더링 하게되어 
                                                        | 웹 사용 중 렌더링을 단축할 수 있었습니다.
                                                        | 버전관리와 팀원들 간의 협업 툴 은 git 을 사용하였는데 작업한 코드를 합치고 배포할 때 
                                                        | 생산성을 향상할 수 있었습니다.                     
                        .about_right(style={width: "23px", height:"23px"})                                               
        include ../partials/footer

