doctype html
html(lang="en")
    include ../partials/head
body 
    //- include ../partials/intro 
    .bg    
    include ../partials/header
    include ../partials/siteMenu
    main#main
        .page(
        style={
            opacity: "1", translate: "none", rotate:"none", scale: "none", transform: "translate(0px, 0px)"
            }
        )
            block contents

    script(src="/static/js/app.js") 


