doctype html
html(lang="en")
    include ../partials/head
body 
    include ../partials/intro
    #container 
        .theme 
        .frame 
            #main 
                include ../partials/header
                #main__contents 
                    block contents 
            .background 
    script(src="/static/js/app.js") 


