extends base
block contents 
    .mainContent 
        .contact__container 
            .contact__item
                p phone 
                p 010-7916-4222
            .contact__item
                p e-mail 
                p hijungjob@gmail.com
            .contact__item
                p kakao talk 
                p godls0177@naver.com
            ul.contact__item.link 
                li
                    a(href="https://github.com/hijunglit" target="_blank")
                        i.fab.fa-github
                li
                    a(href="https://www.linkedin.com/in/%ED%95%B4%EC%9D%B8-%EC%A0%95-7b3858269/")
                        i.fab.fa-linkedin-in
                li
                    a(href="mailto:hijungjob@gmail.com" target="_blank")
                        i.far.fa-paper-plane