extends base
block contents 
    .page(
        style={
            translate: "none", rotate:"none", scale: "none", transform: "translate(0px, 0px)"
            }
        )
        .mainContent 
            .brandLogo 
                h1.brandLogo__name 정해인
                h3.brandLogo__type 포트폴리오
            .contact 
                ul 
                    li
                        a(href="#") 
                            i.fab.fa-github
                    li
                        a(href="#") 
                            i.fab.fa-github 
                    li
                        a(href="#") 
                            i.fab.fa-github 
    