extends base
block contents  
    .mainContent 
        .brandLogo 
            h1.brandLogo__name 정해인
            h3.brandLogo__type 포트폴리오
        ul.contact
            li
                a(href="https://github.com/hijunglit" target="_blank") 
                    i.fab.fa-github
            li
                a(href="#") 
                    i.fab.fa-github 
            li
                a(href="#") 
                    i.fab.fa-github 
    