extends base
block contents 
    .page_inner 
        .project 
            .project_header 
                h1.project_title Youtube clone
            .project_content 
                .project_main
                    .project_visual
                        img(src="/images/youtube_home.JPG", alt="project image")
                    .project_description
                        .text-post
                            p crud를 구현한 동영상 플랫폼 클론 프로젝트입니다.
                p.project_link
                    a(href="https://youtube-2024.fly.dev" target="_blank") Link &rarr;
        include ../partials/footer