footer#footer
    .footer_inner 
        .footer_right
        nav.fooer_nav 
            ul.footer_pages 
                li
                    a(href="/") home 
                li
                    a(href="/projects") projects 
                li
                    a(href="/contact") contact
            ul.footer_contact 
                li
                    a(href="https://github.com/hijunglit" target="_blank") 
                        i.fab.fa-github
                li
                    a(href="https://www.linkedin.com/in/%ED%95%B4%EC%9D%B8-%EC%A0%95-7b3858269/" target="_blank") 
                        i.fab.fa-linkedin-in
                li
                    a(href="mailto:hijungjob@gmail.com" target="_blank") 
                        i.far.fa-paper-plane
        p.footer_mark #{new Date().getFullYear()} hijung portfolio
            