footer#footer(data-scroll)
    .footer_inner 
        .footer_right
        nav.fooer_nav 
            ul.footer_pages 
                li
                    a(href="/") home 
                li
                    a(href="/projects") projects 
                li
                    a(href="/contact") contact
            ul.footer_contact 
                li
                    a(href="https://github.com/hijunglit" target="_blank") 
                        i.fab.fa-github
                li
                    a(href="#")
                        i.fab.fa-github 
                li
                    a(href="#")
                        i.fab.fa-github 
        p.footer_mark(data-scroll) #{new Date().getFullYear()} hijung portfolio
            