header#header 
    a(href="/")
        h1.header__logo 정해인  
        p.header__logo-type 포트폴리오
    .header__menu
        button.siteMenuBtn menu
    nav.siteHeader-nav.invisible
        ul 
            li
                a(href="#") about 
            li
                a(href="#") projects 
            li
                a(href="#") contact