nav.siteMenu(
    style={
        display: "none",
        translate: "none", 
        rotate: "none", 
        scale: "none", 
        transform: "translate(0%, -20%)", 
        opacity: "0"
        }
    )
    ul 
        li
            a(href="/about") about 
        li
            a(href="/projects") projects 
        li
            a(href="/contact") contact