@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400,700&display=swap');

:root {
    --main-font: "Roboto", sans-serif;
    --thin-font-weight: 100;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --title-font-weight: 700;
    --font-sm: 0.813em;
    --title-font-size: 1.375em;
    --font-x-md: 1.517em;
}
:root {
    --bg-color1: #cdd7de;
    --bg-color2: #6c7c8c;
    --bg-color3: #5e6365;
    --bg-color4: #455762;
    --main-color: #e6e6e6;
}
:root {
    --heading: 1.24em;
    --header-height: 60px;
    --vh: 1vh;
    --column: 7.5195vw;
    --gutter: 0.6510vw;
}
:root {
    --margin: 10px;
}