@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --main-font: "Roboto", sans-serif;
    --thin-font-weight: 100;
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --title-font-size: 1.875em;
}
:root {
    --bg-color1: #cdd7de;
    --bg-color2: #6c7c8c;
    --bg-color3: #6c848c;
    --bg-color4: #455762;
    --main-color: #e6e6e6;
}
:root {
    --header-height: 80px;
}