@import "./reset.css";
@import "./_variables.css";
/******************* Mobile *******************/
body {
    font-family: var(--main-font);
    color: var(--main-color);
    
}
a {
    text-decoration: none;
    color: var(--main-color);
}

/* Intro */
#intro {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #161616;
    transition: 1s;
}
.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
#intro .logo {
    position: relative;
    opacity: 1;
    font-size: var(--title-font-size);
}
.logo.fadeout {
    opacity: 0;
    transition: ease-in-out 0.6s;
}
.logo:nth-child(1) {
    font-weight: 100;
}
.logo:nth-child(2) {
    font-weight: 400;
}

/* Bg */
.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, var(--bg-color1) 0%, var(--bg-color2) 25%, var(--bg-color3) 51%, var(--bg-color4) 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Header */
#header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    left: var(--margin);
    right: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
    z-index: 9;
}
#header .header__menu > button {
    background: none;
    border: none;
    color: var(--main-color);
    text-transform: uppercase;
}

/* Site menu */
.siteMenu {
    position: fixed;
    z-index: 9;
    left: 0;
    top: var(--header-height);
    width: 100%;
    padding: 25px var(--margin);
    box-sizing: border-box;
    transition: 1s ease-in;
}
.siteMenu > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
    font-size: 24px;
    text-transform: capitalize;
}
.siteHeader-nav.invisible {
    display: none;
}

/* Main */
#main {
    position: fixed;
    z-index: 2;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: calc(100% - var(--header-height));
    overflow: hidden;
}
.page {
    transition: 0.2s ease-in;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(var(--vh)*100 - var(--header-height)*2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainContent .contact > ul {
    display: flex;
} 

/******************* Tablet *******************/
@media screen and(min-width: 768px) {

}
/******************* Desktop *******************/
@media screen and (min-width: 960px) {
    
}